<ion-header>
  <ion-toolbar>
    <ion-title>
      Please login below
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label color="primary" floating>login</ion-label>
    <ion-input type="text" #user></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="primary" floating>password</ion-label>
      <ion-input type="text" #password></ion-input>
  </ion-item>

  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
</ion-content>
